@media (max-width: 1400px) {
    .portfolio {
        &__proect {
            padding-left: 100px;
        }
    }
    .footer {
        &__wrapper {
            margin: 0 auto;
            width: 1150px;
        }
    }
}

@media (max-width: 1300px) {
    .container {
        width: 960px;
    }

    .promo {
        &__advantage {
            height: 48px;
            align-items: start;
            width: 156px;
            &-text {
                font-size: 17px;
                line-height: 24px;
                text-align: center;
            }
            &-icon {
                max-width: 48px;
                top: -50px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .about {
        &__wrapper {
            margin-left: 70px;
        }
        &__right {
            padding-top: 150px;
        }
        &__descr {
            font-size: 16px;
        }
    
    }

    .work {
        padding-left: 0;
        &__header {
            padding-left: 175px;
        }
        &__wrapper {
            justify-content: center;
        }
    }

    .portfolio {
        min-height: 700px;
        &__slider {
            width: 45%;
        }
        &__navigation {
            padding: 0 10px;
        }
        &__descr {
            width: 450px;
        }
        &__title {
            margin-top: 80px;
        }
    }

    .footer {
        &__wrapper {
            width: 960px;
        }
        &__copyright {
            margin-left: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .subtitle {
        font-size: 36px;
    }

    .header {
        &__menu-list {
            display: flex;
            justify-content: space-between;
            width: 420px;
        }
        &__menu-item {
            font-size: 17px;
        }
        &__btn {
            width: 150px;
            font-size: 14px;
        }
    }

    .promo {
        &__main {
            width: 700px;
        }
        &__advantage {
            margin-top: 50px;
            &-text {
                font-size: 14px;
            }
        }
    }

    .about {
        &__experience {
            width: 150px;
            height: 140px;
            font-size: 22px;
            line-height: 26px;
        }
        &__wrapper {
            width: 400px;
            margin-left: 40px;
        }
        &__span {
            font-size: 50px;
            margin-top: 0;
            line-height: 60px;
        }
        &__right {
            display: flex;
            justify-content: start;
        }
    }

    .work {
        &__wrapper {
            width: 100%;
            justify-content: start;
            padding: 0 21px;
            margin-left: 0;
        }
        &__descr {
            width: 100%;
            padding-right: 5px;
        }
        &__header {
            padding-left: 50px;
        }
        &__item {
            &:nth-child(6) .work__number {
                margin-left: 0;
            }
            &:nth-child(6) .work__descr {
                text-align: left;
            }
            &:nth-child(5) {
                width: 191px;
                &:before {
                    width: calc(100% - 66px);
                }
            }
        }
    }

    .portfolio {
        &__proect {
            padding-left: 20px;
        }
        &__title {
            margin-top: 50px;
        }
        &__tab {
            width: 50px;
            height: 52px;
        }
    }

    .footer {
        &__wrapper {
            width: 720px;
        }
    }

}


@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .hamburger {
        display: flex;
    }

    .header {
        &__phone {
            &:first-child {
                display: none;
            }   
        }
        &__contacts{
            position: fixed;
        }
        &__menu {
            width: 100%;
            display: flex;
            position: fixed;
            height: 100vh;
            top: 0;
            overflow: hidden;
            left: 100%;
            transition: all 0.6s;
            &_active {
                left: 0;
            }
            &-list {
                padding: 180px 10px;
                height: 100%;
                width: 60%;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: rgba($color: #000000, $alpha: 0.8);
            }
            &-item {
                font-size: 24px;
            }
            &::before {
                content: '';
                display: block;
                height: 100vh;
                width: 40%;
                background-color: rgba($color: #000, $alpha: 0.3);

            }
        }
        
    }

    .promo {
        &__main {
            width: 500px;
        }
        &__advantage-text {
            line-height: 18px;
        }
    }

    .about {
        &__right {
            padding-top: 120px;
        }
        &__descr {
            font-size: 14px;
        }
    }

    .portfolio {
        min-height: 500px;
        &__descr {
            width: 300px;
            font-size: 13px;
            line-height: 19px;
            margin-top: 10px;
        }
        &__plan {
            display: none;
        }
        &__title {
            margin-top: 20px;
        }
        &__deadline {
            margin-top: 10px;
        }
    }

    .reviews {
        &__wrapper {
            width: 540px;
        }
        &__review {
            width: 100%;
        }
        &__quotes {
            right: 10px;
        }
    }

    .feedback {
        &__wrapper {
            width: 540px;
        }
        &__input {
            width: 250px;
            &:nth-child(3) {
                width: 540px;
            }
        }
    }

    .footer {
        &__wrapper {
            width: 540px;
        }
    }

    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .subtitle {
        font-size: 28px;
        line-height: 40px;
    }
    &__subtitle {
        text-align: center;
    }

    .header {
        &__phone {
            margin: 0;
        }
        &__social {
            min-width: 70px;
            margin-left: 15px;
        }
    }

    .promo {
        padding-top: 200px;
        &__main {
            width: 300px;
        }
        &__descr {
            margin-top: 40px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 85px);
            justify-items: center;
        }
        &__advantage {
            margin: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            &:first-child, &:nth-child(4), &:nth-child(5) {
                width: 100%;
            }
            &-icon {
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            &-text {
                width: 100%;
                font-size: 10px;
            }
        }   
    }
    

    .about {
        flex-direction: column;
        &__right {
            width: 100%;
        }
        &__left {
            width: 100%;
        }
        &__descr {
            font-size: 16px;
        }
        &__right {
            padding-top: 50px;
        }
        &__experience {
            width: 238px;
            height: 220px;
            font-size: 30px;
            line-height: 42px;
        }
        &__span {
            font-size: 70px;
            line-height: 98px;
        }
    }

    .work {
        &__header {
            padding-left: 10px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 300px;
            display: flex;
            justify-content: space-between;
            height: 100px;
            &:before {
                width: 1px;
                height: calc(100% - 66px);
                left: 33px;
                top: 66px;
            }
            &:nth-child(5) {
                width: 300px;
                &:before {
                    width: 1px;
                    left: 33px;
                }
            }
            &:nth-child(6) .work__descr {
                text-align: left;
                width: 180px;
            }
        }
        &__descr {
            width: 180px;
            margin-top: 0;
            padding-top: 10px;
            font-size: 16px;
        }
    }

    .portfolio {
        &__wrapper {
            flex-direction: column;
        }
        &__slider, &__proect {
            width: 100%;
        }
        &__descr {
            width: 240px;
        }
        &__tabs {
            top: 50px;
        }
    }

    .reviews {
        &__wrapper {
            width: 100%;
        }
        &__review {
            width: 100%;
        }
        &__quotes {
            right: 10px;
        }
    }
    .feedback {
        &__wrapper {
            width: 320px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__input {
            width: 300px;
            margin-bottom: 20px;
            &:nth-child(3) {
                width: 300px;
            }
        }
    }

    .footer {
        padding-top: 60px;
        &__wrapper {
            width: 100%;
            padding: 0 5px;
            flex-direction: column;
            height: 350px;
        }
        &__social {
            display: none;
        }
        &__about {
            height: 40px;
        }
        &__divider {
            margin-top: 30px;
        }
        &__contacts {
            height: 80px;
        }
    }
}