.header {
    width: 100%;
    position: absolute;
    z-index: 5;
    &__contacts {
        width: 100%;
        height: 54px;
        background: rgba(0, 0, 0, 0.31);
        position: absolute;
        transition: all 0.6s;
        &_dark {
            background: rgba(0, 0, 0, 0.9);
        }
    }
    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__social {
        margin-left: 105px;
        display: flex;
        justify-content: space-between;
        min-width: 102px;
    }
    &__phone {
        margin-left: 47px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
            color: #FFFFFF;
        }
        
    }
    &__subheader {
        width: 100%;
        height: 80px;
        position: absolute;
        top: 54px;
    }
    &__logo {
        font-weight: 900;
        font-size: 24px;
        color: $main-color;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }
    &__menu-list {
        list-style-type: none;
        width: 682px;
        display: flex;
        justify-content: space-between;
        @supports (display: grid) {
            display: grid;
            grid-template-columns: 158px 155px 98px 185px 86px;
        }
        margin: 0;
        padding: 0;
    }
    &__menu-item {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.06em;
        
    }
    &__menu-link {
        color: #FFFFFF;
        padding-bottom: 6px;
        transition: all 0.2s;
        &:hover {
            text-decoration: none;
            color: $main-color;
            border-bottom: 3px solid $main-color;
        }
    }
    &__btn {
        display: block;
        width: 166px;
        height: 37px;
        border: 2px solid $main-color;
        background: none;
        font-weight: bold;
        font-size: 16px;
        color: $main-color;
        &:focus {
            outline: none;
        }
    }
}