.promo {
    position: relative;
    min-height: 1007px;
    background: url('../img/promo_bg.jpg') center center/cover no-repeat;
    &__benefits {
        height: 169px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        width: 100%;
        position: absolute;
        bottom: 0;
        border: 1px solid rgba(255, 255, 255, 0.46);
    }
}