.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: $main-color;
    margin: 0;
    &_center {
        text-align: center;
    }
}