@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import 'base/variables';

* {
    font-family: 'Gilroy', sans-serif;
}

@import 'blocks/hamburger';
@import 'blocks/_logo';
@import 'blocks/subtitle';
@import 'blocks/title';
@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/work';
@import 'blocks/portfolio';
@import 'blocks/reviews';
@import 'blocks/_feedback';
@import 'blocks/footer';
@import 'blocks/buttons';
@import 'blocks/form';
@import 'blocks/popup';
.show{
    display:block
}
.hide{display:none}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: 0.1;
    }
    to{opacity: 1;}
}
@import 'base/media';

